input {
  width: 100%;
  margin: 5%;
  height:25px;
}

.wrapper{
  justify-content: flex-end;
  align-items: center;
}

.backdrop {
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
}

img {
  width: 450px;
  height: auto;
  margin-bottom: 20px;
}

form {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  margin: 40px;
  color:black;
  text-decoration: none;
  & :hover {
    cursor: pointer;
    }
  }

  #back {
    align-self: flex-end;
    font-size: 20px;
    margin-right: 50px;
    border:1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
  }
