<div class="container">
  <div class="wrapper">
    <a id="back" routerLink=''>Back</a>
        <img class="logo" src="/../assets/big-logo.png" alt="big logo">
    <div class="backdrop">
      <form ng-submit="myFunc()">
        <input id="email" placeholder="Enter your email" #loginEmail>
        <input id="password" type="password" placeholder="Enter your Password" #loginPassword>
        <button (click)="loginUser(loginEmail.value, loginPassword.value)">Sign in</button>
      </form>
    </div>
  </div>
</div>
