.container{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  border: 2px solid black;
  border-radius: 10px;
  background-image: url('/../assets/wood.jpg');
  background-position: center;
  background-size: auto;
  align-items: center;
  padding-bottom: 25px;
  img {
    margin-top: 15%;
    height: 200px;
    width: 400px;
  }
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-logo{
  display: flex;
  justify-content: center;
  height: 50vh;
}
.content{
  width: 70%;
  padding:20px;
  height: 80%;
  background-color: rgba(255, 255, 255, .7);
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
  h2 {
    color: red;
  }
  p {
  line-height: 30px;
  font-size: 20px;
    }
  }
  button {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    width: 180px;
    height:50px;
    font-size: 20px;
  }

span {
  text-decoration: underline;
}
