<div id="wrapper">
    <div class="container">
      <div class="main-logo">
          <img class="logo" src="/../assets/big-logo.png" alt="big logo">
      </div>
      <div class="content">
        <h2>About PickUp</h2>
        <p>PickUp is the ultimate website for any basketball player! PickUp was created so that people can come together to enjoy one of the most competitive and fun American pastimes. In PickUp, not only can you find players in your local area at the park of your choosing to play a game with...but you can also continue the competitive spirit after the game is over! Each player will create a profile and will be ranked on the leaderboards at each park they play at.</p>
        <br>
        <p>For any questions or comments, email <a href="mailto:julianflood@gmail.com"><span>julianflood@gmail.com</span></a></p>
      </div>
    <a routerLink=''><button>Back</button></a>
  </div>
</div>
