.wrapper {
  align-items: center;
  button {
    margin-top: 20px;
  }
}

#buttons {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.backdrop {
  margin-top: 50px;
  border-radius: 10px;
  justify-content: flex-start;
  text-align: center;
}

#inputs {
  display: flex;
  flex-direction: column;
  height: 100%;
  input{
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
  }
}
select {
  width: 200px;
  height: 30px;
  font-size: 15px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

textarea {
  border-radius: 5px;
  margin-top: 20%;
  height: 50px;
  font-size: 15px;
}
