<div class="wrapper">
  <a id="back" routerLink=''>Back</a>
  <img class="logo" src="/../assets/big-logo.png" alt="big logo">
<div class="backdrop">
  <input id="email" placeholder="Enter your email" #signupEmail>
  <input id="username" placeholder="Enter your username" #signupUsername>
  <input id="password" placeholder="Enter your Password" type="password" #signupPassword>
  <button (click)="signupUser(signupEmail.value, signupUsername.value, signupPassword.value)">Sign Up</button>
</div>
</div>
