<div class="wrapper">
  <div id="buttons">
    <a routerLink='/select'><button>Find a Game</button></a>
    <a routerLink='/add'><button>Create Game</button></a>
  </div>

  <div id="profile-panel" *ngIf="this.currentUser">
    <h2>{{this.currentUser.userName}}'s Profile</h2>
    <h3>Favorite team: {{this.currentUser.favTeam}}</h3>
    <img src="{{this.currentUser.image}}" alt="profile picture">
  </div>
  <br>
  <form>

    <div id="submission">
      <input id="userName" type="text" placeholder="Enter a Username" #UserName>
      <input id="image" placeholder="Upload an Image" #ProfileImage>
      <input id="favorite-team" placeholder="Enter your Favorite Team" #FavTeam>
      <button (click)="updateUser(UserName.value, ProfileImage.value, FavTeam.value)">Submit</button>
    </div>

  </form>
</div>
