<div class="wrapper">

  <div *ngIf="this.currentUser">
    <h2> {{this.currentUser.userName}} Profile</h2>
  </div>

  <button><a routerLink='/select'>Find a Game</a></button><button><a routerLink='/add'>Create Game</a></button>
  <br>
  <form>
    <label>Username</label>
    <input id="userName" type="text" placeholder="Michael Jordan" #UserName>

    <label>Image Upload</label>
    <input id="image" placeholder="Upload image" #ProfileImage>

    <label>Favorite NBA Team</label>
    <input id="favorite-team" placeholder="Enter your Favorite Team" #FavTeam>

    <button (click)="updateUser(UserName.value, ProfileImage.value, FavTeam.value)">Submit</button>
  </form>
</div>
