#select {
  background-color: grey;
}

#gameplay {
  background-color: white;
  margin-bottom: 10%;
}

#join-area {
  display: flex;
  width: 70%;
  background-image: url('/../assets/wood.jpg');
  background-position: center;
  background-size: auto;
  height: 500px;
}
#leaderboard {
  display: flex;
  text-align: center;
  width: 30%;
  background-color: coral;
  height: 500px;
}

#main-area {
  width: 100%;
  display: flex;
}

#teamA {
  height: 100%;
  width: 50%;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  button {
    margin-bottom: 10px;
  }
}

#teamB {
  height: 100%;
  width: 50%;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  button {
    margin-bottom: 10px;
  }
}

img {
  height: 100px;
  width: 100px;
}

.player {
  width: 90%;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  img {
    margin: 5px;
    height:50px;
    width: 50px;
  }
}
