<div class="wrapper">
  <div id="select">
    <h3>Select a Park to View Current Games</h3>
      <select>
        <option>Select a Game</option>
        <option *ngFor="let game of games | async">{{game.park}} - {{game.time}}</option>
      </select>
    <h3>OR</h3>
  <button><a routerLink='/add'>Make a New Game</a></button>
  </div>
  <div id="gameplay">

    <!-- <h1>{{(gameToDisplay | async).park}}</h1> -->
    <h3>Time of Game</h3>
    <div id=main-area>
      <div id="join-area">
        <div id="teamA">
          <h4>Team A</h4>
        </div>
        <div id="teamB">
          <h4>Team B</h4>

        </div>
      </div>
      <div id="leaderboard">
        <h3>Leaderboard</h3>
      </div>
    </div>
    <button><a routerLink='/profile'>Back to Profile</a></button>
  </div>
</div>
