<div class="wrapper">
  <div id="gameplay">

    <div id="profile-panel" *ngIf="this.currentUser">
      <h2>{{this.currentUser.userName}}'s Profile</h2>
      <h3>Favorite team: {{this.currentUser.favTeam}}</h3>
      <img src="{{this.currentUser.image}}" alt="profile picture">
    </div>

    <h1>{{(gameToDisplay | async)?.park}}</h1>
    <h3>{{(gameToDisplay | async)?.time}}</h3>
    <h3>{{(gameToDisplay | async)?.teamA}}</h3>


    <div id=main-area>
      <div id="join-area">
        <div id="teamA">
          <h4>Team A</h4>
          <div id="append-area">
            <div *ngIf="join">
              <h1>{{this.currentUser.userName}}</h1>
            </div>
          </div>
          <button (click)="joinGame()">Click to Join!</button>
        </div>
        <div id="teamB">
          <h4>Team B</h4>
          <button>Click to Join!</button>
        </div>
      </div>
      <div id="leaderboard">
        <h3>Leaderboard</h3>
      </div>
    </div>
    <h1>{{(gameToDisplay | async)?.addInfo}}</h1>
    <button><a routerLink='/profile'>Back to Profile</a></button>
  </div>
</div>
