#select {
  background-color: grey;
}

#gameplay {
  background-color: rgba(255, 255, 255, .5);
  text-align: center;
  border-radius: 10px;
}
.wrapper {
  background: none;
  width: 80vw;
}

#join-area {
  display: flex;
  width: 70%;
  background-image: url('/../assets/wood.jpg');
  background-position: center;
  background-size: auto;
  height: 500px;
  border: 5px solid black;
}
.leaderboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  background-image: url('https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_1920x1080.jpg');
  height: 500px;
  border: 5px solid gold;
  color: white;
  h2 {
    display: flex;
    align-self: center;
    // border: 3px solid gold;
  }
}

#main-area {
  width: 100%;
  display: flex;
}

#teamA {
  height: 100%;
  width: 50%;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  button {
    margin-bottom: 10px;
  }
}

#teamB {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  button {
    margin-bottom: 10px;
  }
}

img {
  height: 100px;
  width: 100px;
}

.player {
  width: 90%;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  img {
    margin: 5px;
    height:50px;
    width: 50px;
  }
}

.wrapper{
  height: 100%;
}

#leaders {
  display: flex;
}

#leader-panel {
  margin: 10px;
  display: flex;
  align-items: center;
  img {
    margin-right:10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
  }
}
#plays {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#leader-info {
  display: flex;
  align-items: center;
}
#profile-info {
  width: 250px;
}

#teamA h1, #teamB h1 {
  border: 3px solid black;
  padding: 5px;
  background-color: rgba(255, 255, 255, .5);
}

.container {
  width:100%;
}

.park {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding: 3px;
}

iframe{
  border-radius: 10px;
  padding:3px;
}

.game-info {
  display: flex;
  justify-content: space-between;
}

#profile-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: -10%;
  margin-top: 10%;
}
#logged-in{
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  height:50%;
  p {
    padding-right: 10px;
  }
  img {
    height: 50px;
    width: auto;
    border-radius: 5px;
  }
}

#park-specifics {
  h1 {
    font-size: 60px;
  }
  h3{
    font-size: 40px;
  }
}

#logo {
  img{
    height:100px;
    width: auto;
  }
}
